html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#network {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.metroNode path {
	fill: #fff;
	stroke: red;
	stroke-width: 1.5px;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#credits, #credits a, #credits a:hover, #credits a:visited {
	color: #BBB;
}

#credits {
	font-weight: 300;		
	position: absolute;
	bottom: 5px;
	right: 5px;
}